.players{
    margin-top: 3.5rem;
    text-align: center;
}
#maxscore
{
    text-align: center;
}
.downscore
{
    margin-top: 2rem;
}

.reset{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aligning{
    text-align: center;
    color:blue;
    font-size: 3.5em;;

}